<div class="col-lg-12">
	<%= form_tag update_user_path, :multipart => true do -%>
	<div class="col-md-6 panel panel-default" style="padding: 20px;">
	    <p>Avatar del usuario:</p><br/>
	    <%= hidden_field_tag 'id', params[:id] %>
	    <%= file_field_tag 'avatar' %><br/>
		<%= text_field_tag 'first_name', @user.first_name , placeholder: 'nombre',class: 'form-control' %><br/>
		<%= text_field_tag 'last_name', @user.last_name  , placeholder: 'apellido',class: 'form-control' %><br/>
		<%= text_field_tag 'linkedin', @user.linkedin, placeholder: 'linkedin', class: 'form-control' %><br/>
		<%= text_field_tag 'email', @user.email, placeholder: 'email', class: 'form-control' %><br/>
		<%= password_field_tag 'password', '', placeholder: 'password', class: 'form-control' %>
		<br/><br/>
	    <p>Cuentas Agregadas a este usuario:</p><br/>
		<select name="select" class="form-controll" id="selec_xcv">

		    <option value="">Selecciona una opcción ...</option>
		    <% @nccliente.each do |cc| %>
		    <% if "#{cc.Mail}" != '' %>
	    	<option value="{'name': <%= cc.ClienteNombre.truncate(60) %>, 'email': <%= cc.Mail %>}"><%= cc.ClienteNombre.truncate(60) %></option>
	    	<%end%>
	    	<%end%>
	    </select><br/><br/><br/>
	    <div class="btn btn-primary pull-right" id="add_count">Agregar cuenta</div><br/><br/><br/><br/>
	    <%= text_area_tag 'accounts_array', @user.accounts_array , placeholder: 'Cuentas extras', class: 'form-control' %>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5 panel panel-default" style="padding: 20px;">
	    <p>Logo de la empresa:</p><br/>
	    <%= file_field_tag 'bussines_avatar' %><br/>
	    <p>Tarjeta de presentación frente:</p><br/>
	    <%= file_field_tag 'presentation_card_front' %><br/>
	    <p>Tarjeta de presentación reverso:</p><br/>
	    <%= file_field_tag 'presentation_card_behind' %><br/>
	    <%= submit_tag 'Modificar Usuario', class: "btn btn-primary pull-right" %>
	</div>
	<%end%>
</div>

<script>
	$('#selec_xcv').change(function(){
		  var value = $(this).find("option:selected").attr('value');
		  $('#add_count').data('selected-item', value);
	});
	$('#add_count').click(function(){
		var datax = $('#add_count').data('selected-item');
		if ($('#accounts_array').val() == ''){
		var dota  = datax;
	    }else{
	    var dota  = $('#accounts_array').val()+','+ datax;
	    }
		$('#accounts_array').val(dota);
	});

</script>